
.rn-button {
  @include reset-button;
  @include rem(padding, 10px 20px !important);
  @include rem(font-size, 16px !important);
  @include rem(border-radius, 30px !important);
  @include font-weight(semi-bold !important);
  text-transform: none !important;
  transition-property: color, border, background;
  transition-duration: $transition-duration;
  transition-timing-function: $accelerate-ease;

  &__primary {
    @include font-weight(semi-bold);
    border: 2px solid $color-accent;
    background-color: $color-accent;
    color: #fff;

    @include hover-supported() {
      background-color: #fff;
      color: $color-accent;
    }
  }
}
