
@import '../assets/scss/settings/_config-base';

.rn-app {
  height: 100%;

  &__content {
    margin-left: $sidebar-width;
    transition: margin $transition-duration $accelerate-ease;

    @include mq('lg', max) {
      margin-left: 0;
    }
  }
}